
<div data-role="panel" id="menu-left" data-display="overlay" data-dismissible="true">
	<!--グローバルメニュー-->
	<ul data-role="listview" data-theme="b" class="ui-nodisc-icon g-nav mb-10" >
		<li><a href="./chemdry.html" class="nav-panel <% if(page == 'chemdry'){ %>active<% }else{ %>ui-icon<%} %>">ケムドライシステム</a></li>
		<li><a href="./mos.html" class="nav-panel <% if(page == 'mos'){ %>active<% }else{ %>ui-icon<%} %>">MOS工法</a></li>
		<li><a href="./service.html" class="nav-panel <% if(page == 'service'){ %>active<% }else{ %>ui-icon<%} %>">サービス・料金一覧</a></li>
		<li><a href="./case.html" data-ajax="false" class="nav-panel <% if(page == 'case'){ %>active<% }else{ %>ui-icon<%} %>">施工事例</a></li>
		<li><a href="./company.html" class="nav-panel <% if(page == 'company'){ %>active<% }else{ %>ui-icon<%} %>">会社案内</a></li>
		<li><a href="./contact.html" class="nav-panel <% if(page == 'contact'){ %>active<% }else{ %>ui-icon<%} %>">お問い合わせ</a></li>
	</ul>

	<div class="contact-panel mb-20">
		<p><a href="" target="_blank"><img src="./img/common/banner-header.jpg" alt="清掃道具通信販売" width="200"></a></p>
		<p class="number-footer text-20 mb-none m-reset">
			<i class="fa fa-phone text-24 text-pink" aria-hidden="true"></i> <span class="tel-link">048-776-3207</span>
		</p>
		<p class="number-footer text-20 mb-10 m-reset">
			<i class="fa fa-fax text-24 text-pink" aria-hidden="true"></i> 048-776-8259
		</p>
		<p class="mb-10 m-reset lh-normal">
			〒362-0008<br>埼玉県上尾市上平中央2-2-28
		</p>
		<a href="./contact.html" class="ui-shadow ui-btn ui-corner-all">お問い合わせ</a>
	</div>
	<div class="banners-side corner-5">
		<a href="../index.html?viewmode=pc" class="ui-shadow ui-btn ui-btn-c ui-corner-all">PCサイト</a>
	</div>
</div>
<!--/全ページ共通部分(スライドパネル)-->

<div data-role="content">
	<header class="header ui-nodisc-icon" data-role="header" data-position="fixed" data-tap-toggle="false">
		<h1>
			<a class="logo-title" href="./index.html"><img src="./img/common/logo-header.png" alt="株式会社マミィ" width="234"></a>
		</h1>
		<a href="#menu-left" class="ui-btn-right ui-btn-corner-all ui-btn ui-icon-bars ui-btn-icon-notext ui-shadow" title="Navigation" data-form="ui-icon" data-role="button" role="button"> Navigation </a>
	</header>
</div>

<div role="main" class="ui-content">
<% if(page != 'index'){ %>
  <div class="pagetitle">
    <div class="inner">
          <p>
          <%= text %>
          </p>
          <span>
          <%= eng %>
          </span>
   </div>
 </div>
 <% } %>