<script src="js/jquery.min.js"></script>
<script>
	//jquery mobile ajax無効化
	jQuery(document).bind("mobileinit", function(){
		jQuery.mobile.ajaxEnabled = false;
		jQuery.mobile.ajaxLinksEnabled = false;
		jQuery.mobile.ajaxFormsEnabled = false;
		jQuery.mobile.hashListeningEnabled = false;
	});
</script>
<link rel="stylesheet" href="css/themes/theme.css" />
<link rel="stylesheet" href="css/themes/jquery.mobile.icons.min.css" />
<link rel="stylesheet" href="css/jquery.mobile.structure-1.4.5.min.css">
<link rel="stylesheet" href="css/jquery.bxslider.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">
<script src="js/jquery.mobile-1.4.5.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/jquery.matchHeight-min.js"></script>
<script src="js/modules.js"></script>
<script type="text/javascript">
	var scrolltop_manual_start = true;
</script>
<% if (page == 'index'){ %>
	<script>
		$(function(){
			$('.bxslider').bxSlider({
				auto: true,
				speed: 400,
				controls: false,
				mode: 'fade',
				pager: false,
			});
		});
	</script>
	<% } else if(page == 'contact'){ %>
		<%# contactページ　フォーム用バリデーション & 住所自動入力 %>
		<script src="js/jquery.validationEngine.js"></script>
		<script src="js/jquery.validationEngine-ja.js"></script>
		<link href="css/validationEngine.jquery.css" rel="stylesheet">
		<script>
			$(function(){
				$("#mail-form").validationEngine('attach', {
					promptPosition:"topLeft"
				});
			});
		</script>
		<% } %>
		<script src="js/script.js"></script>
		<script type="text/javascript">
			scrolltotop.controlHTML = '<img src="./img/common/pagetop.png" style="width:30px; height:30px" />';
			scrolltotop.init();
		</script>
