<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#  article: http://ogp.me/ns/article#">
	<meta charset="UTF-8">
	<meta name="keywords" content="クリーニング,清掃,カーペット,ソファ,シート">
	<meta name="description" content="<%= description%>">
	<meta name="Robots" content="INDEX,FOLLOW">
	<meta property="og:title" content="<%= title%>">
	<meta property="og:description" content="<%= description%>">
	<meta property="og:site_name" content="株式会社マミィ">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
	<link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
	<link href="apple-touch-icon.png" rel="apple-touch-icon-precomposed">
	<title><%= title%></title>
	<% include ./_headFiles.ejs %>
</head>
<body>