@mixin fontsize($size: 14, $base: 10) {
	font-size: $size + px;
	font-size: ($size / $base) * 1rem;
}

@mixin text-replace {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@mixin replace-bgi($url) {
	background-image: url($url);
	background-repeat: no-repeat;
	@include text-replace();
}