@mixin heading-ribbon($bg-col:#666, $shadow-col: #000, $line-h:60px, $shadow-w:0,$right-w: 0){
  background: $bg-col;
  line-height: $line-h;
  margin-left: - $shadow-w;
  margin-right: $right-w * 2;
  position: relative;
  @if $shadow-w{
    &:before {
      width: 0;
      height: 0;
      content: " ";
      position: absolute;
      top: 100%;
      left: 0;
      border-style: solid;
      border-width: 0 $shadow-w $shadow-w 0;
      border-color: transparent;
      border-right-color: $shadow-col;
    }
  }
  @if $right-w {
    &:after {
      width: 0;
      height: 0;
      content: " ";
      position: absolute;
      top: 0px;
      left: 100%;
      border-width: $line-h / 2  $right-w;
      border-style: solid;
      border-color: $bg-col;
      border-right-color: transparent;
    }
  }
}