//navbarの色変更
//http://work.smarchal.com/twbscolor/
//$bgDefault:背景色
//$bgHighlight:ロールオーバー時背景
//$colDefault: 文字色
//$colHighlight: ロールボーバー時文字色
//$dropDown: ドロップダウンも変更するか boolean
@mixin change-color-navbar($bgDefault,$bgHighlight,$colDefault,$colHighlight,$dropDown: false){
  .navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .navbar-text {
      color: $colDefault; }
    .navbar-nav {
      > li {
        > a {
          color: $colDefault;
          &:hover,  &:focus {
            color: $colHighlight; }}
        @if $dropDown {
          > .dropdown-menu {
            background-color: $bgDefault;
            > li {
              > a {
                color: $colDefault;
                &:hover,  &:focus {
                  color: $colHighlight;
                  background-color: $bgHighlight; }}
              > .divider {
                background-color: $bgHighlight;}}}}}
      @if $dropDown {
        .open .dropdown-menu > .active {
          > a, > a:hover, > a:focus {
            color: $colHighlight;
            background-color: $bgHighlight; }}}
      > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}
      > .open {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    .navbar-toggle {
      border-color: $bgHighlight;
      &:hover, &:focus {
        background-color: $bgHighlight; }
      .icon-bar {
        background-color: $colDefault; }}
    .navbar-collapse,
    .navbar-form {
      border-color: $colDefault; }
    .navbar-link {
      color: $colDefault;
      &:hover {
        color: $colHighlight; }}}
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
      > li > a {
        color: $colDefault;
        &:hover, &:focus {
          color: $colHighlight; }}
      > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
  }
}

//[logo+電話番号等]の下にグローバルナビゲーション配置
//均等割付型ナビゲーション
//$logo-path:ロゴ画像パス, $logo-w:タイトルロゴ横幅,$logo-h:タイトルロゴ縦幅,
//$navbg-col: ナビゲーションバー背景色,$navbg-col-hover: ロールオーバー時色
//$nav-border-col:ナビゲーション部分ボーダー色
@mixin header-twolevel($logo-path, $logo-w, $logo-h, $navbg-col, $navbg-col-hover, $nav-border-col){
  //ヘッダー全体
  .navbar{
    border: none;
    margin-bottom: 0;
    .container-fluid{
      padding: 0;
    }
  }
  .navbar-header-ori{
    max-width: 1170px;
    margin: 15px auto;
    padding: 0 15px;
    overflow: hidden;
    //タイトルロゴ
    .navbar-brand{
      height: auto;
      padding: 0;
      margin: 0;
      margin-top: 15px;
      @include mq-custom($mq_sm) {
        margin-top: 30px;
      }
      a{
        display: block;
        width: $logo-w / 2;
        height: $logo-h / 2;
        @include replace-bgi($logo-path);
        background-size: 100% auto;
        @include mq-custom($mq_sm) {
          width: $logo-w;
          height: $logo-h;
        }
      }
    }
    .navbar-toggle {
      border-color: transparent;
      margin-right: 0;
      .icon-bar {
        background-color: #fff;
      }
    }
  }
  //電話番号など
  .navbar-details{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #f1eae4;
    background-color: #fbf9f7;
    border-radius: 2px;
    .navbar-details-left{
      .nav-number{
        margin-bottom: 0;
        margin-left: 10px;
        line-height: 1;
        @include fontsize(16);
        &:first-child{
          margin-bottom: 5px;
        }
        @include mq-custom($mq_sm) {
          @include fontsize(20);
        }
        i{
          width: 20px;
          @include fontsize(14);
          @include mq-custom($mq_sm) {
            @include fontsize(18);
          }
        }
      }
    }
    .navbar-details-right{
      margin-left: 10px;
      p{
        margin-bottom: 0;
      }
    }
  }
  //グローバルナビゲーション
  .navbar-bg{
    background-color: #fff;
    border-top: 0;
    @include mq-custom($mq_sm) {
      background-color: $navbg-col;
    }
    .navbar-menu{
      display: block;
      background-color: #fff;
      margin: 0 auto;
      border-bottom: 1px solid $nav-border-col;
      @include mq-custom($mq_sm) {
        background-color: $navbg-col;
        border-bottom: none;
        max-width: 1170px;
      }
      ul.nav{
        margin: 0 -15px 0 0;
        li{
          a{
            font-weight: bold;
            border-top: 1px solid $nav-border-col;
            padding: 15px 15px;
            @include fontsize(15);
            .nav-list-inner{
              display: inline-block;
              width: 100%;
              line-height: 1;
            }
            .nav-eng{
              line-height: 1;
            }
          }
          &:last-child{
            a{
              border-bottom: 1px solid $nav-border-col;
            }
          }
          &.active,&:hover{
            background-color: $navbg-col-hover;
          }
        }
      }
      .navbar-text{
        position: relative;
        padding: 10px 15px;
        margin: 0 -15px 0 0;
        display: inline-block;
        @include fontsize(18);
        line-height: 20px;
        i{
          @include fontsize(24);
        }
      }
      @include mq-custom($mq_sm) {
        padding: 0;
        ul.nav {
          display: table;
          table-layout: fixed;
          width: 100%;
          margin: 0;
          li {
            display: table-cell;
            float: none;
            width: 100%;
            height: 60px;
            vertical-align: middle;
            a{
              text-align: center;
              border: none;
              padding: 0;
              @include fontsize(11);
              @include mq-custom($mq_md) {
                @include fontsize(14.5);
              }
              .nav-list-inner{
                display: inline-block;
                line-height: 1.5;
              }
              .nav-eng{
                @include fontsize(11);
              }
            }
            &:last-child{
              a{
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}

//[logo+電話番号等]の下にグローバルナビゲーション配置
//均等割付型ナビゲーション
//$logo-path:ロゴ画像パス, $logo-w:タイトルロゴ横幅,$logo-h:タイトルロゴ縦幅,
//$navbg-col: ナビゲーションバー背景色,$navbg-col-hover: ロールオーバー時色
//$nav-border-col:ナビゲーション部分ボーダー色
@mixin header-twolevel2($logo-path, $logo-w, $logo-h, $navbg-col, $navbg-col-hover, $nav-border-col){
  //ヘッダー全体
  .navbar{
    border: none;
    margin-bottom: 0;
  }
  //タイトルロゴ
  .navbar-brand{
    margin: 15px 0;
    height: auto;
    padding: 0;
    @include mq-custom($mq_sm) {
      padding: 0 15px;
      margin: 30px 0;
    }
    a{
      display: block;
      width: $logo-w / 2;
      height: $logo-h / 2;
      @include replace-bgi($logo-path);
      background-size: 100% auto;
      @include mq-custom($mq_sm) {
        width: $logo-w;
        height: $logo-h;
      }
    }
  }
  //電話番号など
  .navbar-details{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #f1eae4;
    background-color: #fbf9f7;
    border-radius: 2px;
    .navbar-details-left{
      .nav-number{
        margin-bottom: 0;
        margin-left: 10px;
        line-height: 1;
        @include fontsize(16);
        &:first-child{
          margin-bottom: 5px;
        }
        @include mq-custom($mq_sm) {
          @include fontsize(20);
        }
        i{
          width: 20px;
          @include fontsize(14);
          @include mq-custom($mq_sm) {
            @include fontsize(18);
          }
        }
      }
    }
    .navbar-details-right{
      margin-left: 10px;
      p{
        margin-bottom: 0;
      }
    }
  }
  //グローバルナビゲーション
  .navbar-bg{
    background-color: $navbg-col;
    .navbar-menu{
      border-bottom: 1px solid $nav-border-col;
      @include mq-custom($mq_sm) {
        border-bottom: none; 
      }
      ul.nav{
        margin: 0 -15px;
        li{
          transition: border-width .14s linear; 
          a{
            font-weight: bold;
            border-top: 1px solid $nav-border-col;
            padding: 15px 15px;
            @include fontsize(15);
            .nav-list-inner{
              display: inline-block;
              width: 100%;
              line-height: 1;
            }
            .nav-eng{
              line-height: 1;
            }
          }
          &:last-child{
            a{
              border-bottom: 1px solid $nav-border-col;
            }
          }
          &.active,&:hover{
            background-color: $navbg-col-hover;
            border-bottom: 4px solid $sub-col1;
          }
        }
      }
      .navbar-text{
        position: relative;
        padding: 10px 15px;
        margin: 0 -15px;
        display: inline-block;
        span{
          @include fontsize(18);
          line-height: 20px;
        }
        &.navbar-tel{
          @include fontsize(18);
        }
        &.navbar-fax{
          @include fontsize(15);
        }
      }
      @include mq-custom($mq_sm) {
        padding: 0;
        ul.nav {
          display: table;
          table-layout: fixed;
          width: 100%;
          margin: 0;
          li {
            display: table-cell;
            float: none;
            width: 100%;
            a{
              text-align: center;
              border: none;
              padding: 5px 0;
              @include fontsize(11);
              @include mq-custom($mq_md) {
                @include fontsize(14.5);
              }
              .nav-list-inner{
                border-left: 1px solid $nav-border-col;
                display: inline-block;
                padding: 5px 0;
                line-height: 1.5;
              }
              .nav-eng{
                @include fontsize(11);
              }
            }
            &:last-child{
              a{
                border-bottom: none;
                .nav-list-inner{
                  border-right: 1px solid	$nav-border-col;
                }
              }
            }
          }
        }
      }
    }
  }
}