//新着情報
@mixin dl-news($new-col: #666){
  dt{
    padding: 5px 0;
    &:first-child {
      border-top: 1px solid #ccc;
    }
    @include mq-custom($mq_sm) {
      padding: 10px 0;
      &:first-child {
        border-top: none;
      }
        &:first-child + dd{
        border-top: 1px solid #ccc;
      }
    }
    .new{
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      background-color: $new-col;
      color: #fff;
      border-radius: 50%;
      margin-right: 5px;
      @include fontsize(11);
      box-shadow: 1px 1px 5px #333;
      @include mq-custom($mq_sm) {
        @include fontsize(11);
        margin-right: 10px;
      }
    }
  }
  dd{
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    @include mq-custom($mq_sm) {
      margin-left: 0;
      padding: 10px 0;
      padding-left: 180px;
    }
  }
}


//フォームの流れ説明(3並び)
@mixin form-flow($current-col: #666,$base-col: #ddd){
  list-style: none;
  padding: 0;
  overflow: hidden;
  margin-bottom: 0;
  @include fontsize(12);
  @include mq-custom($mq_sm) {
    @include fontsize(14);
  }
  .flow-list{
    text-align: center;
    &:first-child{
      padding-left: 0;
    }
    .flow-num{
      display: inline-block;
      width: 18px;
      height: 18px;
      line-height: 18px;
      padding: 0;
      text-align: center;
      background-color: $current-col;
      margin-right: 10px;
      color: #fff;
      @include fontsize(12);
      border-radius: 2px;
      @include mq-custom($mq_sm) {
        @include fontsize(14);
      }
    }
    .arrow-flow{
      width: 100%;
      margin-bottom: 0;
      background: $base-col;
      padding: .7em 1em;
      color: $current-col;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -1.5em;
        border-width: 1.5em 0 1.5em 1em;
        border-style: solid;
        border-color: $base-col $base-col $base-col transparent;
        left: -1em;
      }
      &::after{
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -1.5em;
        border-top: 1.5em solid transparent;
        border-bottom: 1.5em solid transparent;
        border-left: 1em solid $base-col;
        right: -1em;
      }
      &.first-flow{
        &::before{
          content: normal;
        }
      }
      &.current{
        font-weight: bold;
        background: $current-col;
        color: #fff;
        .flow-num{
          background-color: #fff;
          color: $current-col;
        }
        &::after{
          border-left: 1em solid $current-col;
        }
        &::before{
          border-color: $current-col $current-col $current-col transparent;
        }
      }
    }
  }
}


//Googlemap レスポンシブ
@mixin gmap-responsive(){
  position: relative;
  padding-bottom: 46%;//縦横比
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe, object,embed {
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}