//レスポンシブによりレイアウト変更テーブル
//tdにdata-label指定
//$col-bg:メイン背景色,$col-bg-th:thの背景色,$border-col:ボーダー色
@mixin table-responsive-change($col-bg: transparent,$col-bg-th:#eee,$border-col:#aaa){
  border-collapse: collapse;
  width: 100%;
	background-color: $col-bg;
	thead {
    display: none;
  }
	td{
		border-right: 1px solid $border-col;
    border-bottom: 1px solid $border-col;
    display: block;
    text-align: right;
		&::before{
			content: attr(data-label);
			float: left;
			font-weight: bold;
		}
	}
	th,td {
		border-left: 1px solid $border-col;
		border-bottom: 1px solid $border-col;
		padding: 10px;
	}
	th{
		background-color: $col-bg-th;
		text-align: left;
	}
	tr {
    border-top: 1px solid $border-col;
    display: block;
    margin-bottom: 20px;
  }

	@include mq-custom($mq_sm) {
		border-top: 1px solid $border-col;
		border-right: 1px solid $border-col;
		thead {
			display: table-header-group;
		}
		tr{
			display: table-row;
		}
		td{
			display: table-cell;
			text-align: left;
			&::before{
				content:none;
			}
		}
	}
}

//シンプルテーブル(奇数tr色つき)
@mixin oddcol-table($odd-bk-col: #ddd){
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  tbody{
    tr:nth-child(odd){
      background-color: $odd-bk-col;
    }
    th,td{
      padding: 10px 10px;
    }
    th{
      font-weight: bold;
      text-align: right;
      vertical-align: middle;
      width: 100px;
      padding-right: 10px;
    }
    td{
      vertical-align: top;
    }
  }
}