.clearfix {
  overflow: hidden;
  zoom: 1;
}
.pie-clearfix{
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
  *zoom: 1;
}
.img-btn{
  &:hover{
    opacity: .7;
  }
}
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.ls-lg{
  letter-spacing: .1em;
}
.ls-lg{
  letter-spacing: .05em;
}
.m-reset{
  margin: 0;
}
.lh-reset{
  line-height: 1;
}
.lh-normal{
  line-height: 1.2;
}
.lh-md{
  line-height: 1.4;
}
.lh-lg{
  line-height: 2;
}
.text-indent{
  padding-left: 1em;
  text-indent: -1em;
}
.text-left{
  text-align: left !important;
}
.text-right{
  text-align: right !important;
}
.text-center{
  text-align: center;
}
.text-normal{
  font-weight: normal;
}
.text-bold{
  font-weight: bold !important;
}
.text-10{
  font-size:10px !important;
}
.text-12{
  font-size:12px;
}
.text-13{
  font-size: 13px;
}
.text-14{
  font-size: 14px;
}
.text-15{
  font-size: 15px;
}
.text-16{
  font-size: 16px;
}
.text-18{
  font-size: 18px;
}
.text-20{
  font-size: 20px;
}
.text-22{
  font-size: 22px;
}
.text-24{
  font-size: 24px;
}
.container{
  padding-left: 1em;
  padding-right: 1em;
}