<%
var text = "施工事例";
var page ="case";
var eng ="CASE";
var title = "施工事例｜株式会社マミィ｜ケムドライシステム施工のカーペット・ソファカーシートクリーニング";
var description = "株式会社マミィがこれまで施工した事例をご紹介いたします。カーペット・ソファ・カーシートを始めとしたケムドライシステムの施行例や外壁清掃やエアコンクリーニング等の様々な事例がご覧いただけます。";
%>
<% include common/_head %>
<% include common/_header %>
<!--取扱サービス選択(開閉型メニュー)-->
<div data-role="collapsible-set" id="list-service-panel">
	<div data-role="collapsible">
		<h3>取扱サービス</h3>
		<ul class="list-group" data-role="listview" data-inset="false">
			<!--カテゴリーリンク-->
			<li><a href="./case.html">ソファー・椅子クリーニング</a></li>
			<li><a href="./case.html">カテゴリータイトル カテゴリータイトル カテゴリータイトル カテゴリータイトル</a></li>
			<li><a href="./case.html">カテゴリータイトル</a></li>
			<li><a href="./case.html">カテゴリータイトル</a></li>
			<li><a href="./case.html">カテゴリータイトル</a></li>
			<li><a href="./case.html">カテゴリータイトル</a></li>
		</ul>
	</div>
</div>
<!--/取扱サービス選択(開閉型メニュー)-->
<div class="container bg-stripe-pink">
	<section class="section-lg">
		<article class="ui-corner-all ui-shadow box-min box-section box-cases">
			<header class="header-cases">
				<h1>
					category title category title
				</h1>
			</header>
			<div class="content-cases">
				<p>
					カテゴリー説明文（html01）テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。テキストを挿入して下さい。
				</p>

				<section class="list-cases">
					<!--アイテムタイトル 文字色と線色変更-->
					<h3 style="color: #4b7dba; border-color: #4b7dba;">
						ソファー清掃例（itemtitle）
					</h3>
					<div class="mb-10">
						<img src="./img/sample/img-sample-4x3.jpg" alt="sample">
					</div>
					<p>
						ソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキスト
					</p>
					<a href="./details.html" class="mb-none ui-shadow ui-btn ui-corner-all ui-btn-icon-right ui-icon-carat-r">
						詳しく見る
					</a>
				</section>

				<section class="list-cases">
					<!--アイテムタイトル 文字色と線色変更-->
					<h3 style="color: #4b7dba; border-color: #4b7dba;">
						ソファー清掃例（itemtitle）
					</h3>
					<div class="mb-10">
						<img src="./img/sample/img-sample-4x3.jpg" alt="sample">
					</div>
					<p>
						ソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキスト
					</p>
					<a href="./details.html" class="mb-none ui-shadow ui-btn ui-corner-all ui-btn-icon-right ui-icon-carat-r">
						詳しく見る
					</a>
				</section>

				<section class="list-cases">
					<!--アイテムタイトル 文字色と線色変更-->
					<h3 style="color: #4b7dba; border-color: #4b7dba;">
						ソファー清掃例（itemtitle）
					</h3>
					<div class="mb-10">
						<img src="./img/sample/img-sample-4x3.jpg" alt="sample">
					</div>
					<p>
						ソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキスト
					</p>
					<a href="./details.html" class="mb-none ui-shadow ui-btn ui-corner-all ui-btn-icon-right ui-icon-carat-r">
						詳しく見る
					</a>
				</section>

				<section class="list-cases">
					<!--アイテムタイトル 文字色と線色変更-->
					<h3 style="color: #4b7dba; border-color: #4b7dba;">
						ソファー清掃例（itemtitle）
					</h3>
					<div class="mb-10">
						<img src="./img/sample/img-sample-4x3.jpg" alt="sample">
					</div>
					<p>
						ソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキストソファー椅子クリーニングをローコストで実現しました！テキスト
					</p>
					<a href="./details.html" class="mb-none ui-shadow ui-btn ui-corner-all ui-btn-icon-right ui-icon-carat-r">
						詳しく見る
					</a>
				</section>
			</div>

			<div class="text-center">
				<!--ページング-->
				<div class="paging"><span class="current">1</span>
					<span><a href="#" class="paging-text">2</a></span>
					<span><a href="#" class="paging-text">3</a></span>
					<span><a href="#" class="paging-text">4</a></span>
					<span><a href="#" class="paging-text paging-next">&gt;</a></span>
				</div>
			</div>
		</article>
	</section>
</div>


<% include common/_footer %>