<%
var text = "施工技術";
var page ="chemdry";
var eng = "Technology";
var title = "ケムドライシステムとMOS工法の特徴｜株式会社マミィ｜カーペット・ソファカーシートクリーニング";
var description = "ケムドライシステムは全世界47カ国4100店以上が加盟している実績を持ち、環境・人体に安全なクリーニングシステムです。通常では落ちないしつこい汚れや臭いもケムドライシステムとMOS工法であれば綺麗に落とすことができます。";
%>
<% include common/_head %>
<% include common/_header %>
<div class="bg-stripe-bio">
	<div class="container bg-chemdry chemdry">
		<section class="section-lg">
			<h1 class="text-center mb-5 m-reset lh-reset">
				<img src="./img/common/logo-chemdry.png" width="103" alt="ChemDry">
			</h1>
			<p class="text-center mb-5 m-reset text-14">
				全世界47カ国<span class="text-18 text-bold text-vio">4,100</span>店以上が加盟！	
			</p>
			<p class="mb-10 m-reset">
				全米業界No.1世界40ヶ国で愛され、カーペットなら、300万m2以上の実績を持ちます。<br>
				環境・人体に安全な洗浄液を使用し、
				新しいクリーニング手法で分解した汚れを再び引きつける残留物を残しません。<br>
				いつまでも美しさが持続します。
				わたしたちケムドライシステムのスタッフが
				様々なインテリア製品のクリーニングにお答えいたします。
			</p>
			<section class="ui-corner-all ui-shadow box-min box-section">
				<h1 class="title-lined bio mb-20 m-reset text-16 text-vio">
					<span>他社との比較</span>
				</h1>
				<table class="table-chemdry mb-40">
					<thead>
						<tr>
							<th>
								&nbsp;
							</th>
							<th class="bio">
								ケムドライ
							</th>
							<th>
								他社（ウェット）
							</th>
							<th>
								他社（ドライ）
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>
								洗浄力（表面）
							</th>
							<td class="bio">
								非常に良い
							</td>
							<td>
								劣る
							</td>
							<td>
								非常に劣る
							</td>
						</tr>
						<tr>
							<th>
								洗浄力（内部）
							</th>
							<td class="bio">
								非常に良い
							</td>
							<td>
								劣る
							</td>
							<td>
								非常に劣る
							</td>
						</tr>
						<tr>
							<th>
								洗浄後
							</th>
							<td class="bio">
								綺麗になるため回復できない色褪せ・日焼け・こぼしシミの変色が逆に目立つことがある。
							</td>
							<td>
								残留洗剤により黄変が生じることがある。
							</td>
							<td>
								洗浄後、内部の汚れが浮き出てくることがある。
							</td>
						</tr>
						<tr>
							<th>
								素材のダメージ
							</th>
							<td class="bio">
								ケムドライ
							</td>
							<td>
								他社（ウェット）
							</td>
							<td>
								他社（ドライ）
							</td>
						</tr>
						<tr>
							<th>
								臭い
							</th>
							<td class="bio">
								ない
							</td>
							<td>
								ある
							</td>
							<td>
								ある
							</td>
						</tr>
					</tbody>
				</table>
				<div>
					<div class="title-ribon-wrapper mb-30 text-brown">
						<h1 class="text-13 title-ribon">
							ケムドライが選ばれる理由
						</h1>
					</div>
					<div class="point-chemdry bb">
						<p class="title">
							<span>短時間の乾燥</span>
						</p>
						<p class="text">
							ケムドライシステムでクリーニングされたカーペットは約1時間で乾きます。<br>
							したがって、水分による家具や床へのダメージもなく、ホテル・レストラン・オフィスなどでもクリーニングに伴うアイドルタイムを生じることなく、すぐに通常の営業活動に入ることができるのです。
						</p>
					</div>
					<div class="point-chemdry bb">
						<p class="title">
							<span>天然成分100%</span>
						</p>
						<p class="text">
							ケムドライシステムは天然成分100％の洗浄液でカーペットをクリーニングします。<br>環境・人体に優しい洗浄液です。<br>
							ケムドライシステムなら、クリーニング後のカーぺットで赤ちゃんやペットが遊んでも大丈夫です。
						</p>
					</div>
					<div class="point-chemdry bb">
						<p class="title">
							<span>美しさの持続</span>
						</p>
						<p class="text">
							ケムドライシステムの洗浄液は、他社の洗剤に比べて粘着性（ベタつき）がありません。<br>今までのように「クリーニングのあとすぐに汚れる。」ということがありませんので、カーペットの美しさを持続させることができます。クリーニングと同時に防汚加工することもできます。
						</p>
					</div>
					<div class="point-chemdry">
						<p class="title">
							<span>ローコスト</span>
						</p>
						<p class="text">
							ケムドライシステムは、カーペットを美しくクリーニングするだけでなく、経費の節減にも貢献します。<br>作業の短時間化と効果の持続性によって達成したコストパフォーマンスの高さには、必ずご満足いただけることでしょう。
						</p>
					</div>
				</div>
				<p class="text-center">
					<a href="./case.html" class="img-btn">
						<img src="./img/common/banner-case.jpg" class="img-responsive center-block" alt="施行例はこちらから">
					</a>
				</p>
			</section>
		</section>
	</div>
</div>
<div class="bg-stripe-blue">
	<div class="container bg-chemdry" id="mos">
		<section class="section-lg">
			<h1 class="text-center mb-5 m-reset lh-reset">
				<img src="./img/common/logo-mos.png" width="100" alt="MOS工法">
			</h1>
			<p class="text-center mb-5 m-reset text-13 lh-md text-bold">
				<span class="text-16 text-bold text-blue">素材を傷めることなく復元！</span><br>
				元から汚れを取り除きキレイを維持します
			</p>
			<p class="mb-10 m-reset">
				ビル・建物内外のカビや汚れを根元から分解し防菌・防カビ・防水効果で美観を維持します。<br>
				除カビ殺菌剤や漂白剤を使用してブラシなどでこすり落とす方法ではありません！<br>
				壁や木材 等の材料の内部に特殊洗浄剤を浸透させて、カビを殺し元から取り除き根絶させる工法なので建物をキズつけたり塗装を変色させたり、木材をいためることなく復元させることが可能です。
			</p>
			<section class="ui-corner-all ui-shadow box-min box-section">
				<div class="title-ribon-wrapper mb-30 text-brown">
					<h1 class="text-13 title-ribon">
						MOS工法の優れた特徴
					</h1>
				</div>
				<div class="point-chemdry bb">
					<p class="title mos">
						<span>工事が簡単</span>
					</p>
					<p class="text">
						特殊洗浄剤を直接部位に吹き付け浸透させ、汚れの元を浮き出させてあらい落としながら防菌、防カビ対策を処置するので少人数でスピーディー。
					</p>
				</div>
				<div class="point-chemdry bb">
					<p class="title mos">
						<span>ローコスト</span>
					</p>
					<p class="text">
						般の塗装補修料金のほぼ半額と、大幅コストダウンを実現。
					</p>
				</div>
				<div class="point-chemdry mb-20">
					<p class="title mos">
						<span>効果の維持</span>
					</p>
					<p class="text">
						防カビの最大のポイントである根元から分解する事にくわえ防菌、防カビ対策処置を行う事により効果が維持します。
					</p>
				</div>
				<p class="text-center m-reset">
					<a href="./case.html" class="img-btn">
						<img src="./img/common/banner-case.jpg" class="img-responsive center-block" alt="施行例はこちらから">
					</a>
				</p>
			</section>
		</section>
	</div>
</div>


<% include common/_footer %>