<%
var text = "会社案内";
var page ="company";
var eng = "COMPANY";
var title = "会社案内｜株式会社マミィ｜ケムドライシステム施工のカーペット・ソファカーシートクリーニング";
var description = "株式会社マミィは埼玉県上尾市でカーペット・ソファ・カーシート等をケムドライシステムでクリーニングを行っております。通常では落ちにくい汚れや染み等もお任せ下さい。長年の実績と、確かな技術でご対応させていただきます。";
%>
<% include common/_head %>
<% include common/_header %>

<div class="container bg-stripe-pink">
	<section class="section-lg">
		<p class="text-center m-reset"><img src="./img/common/img-company-01.png" width="80" alt="代表者"></p>
		<h1 class="text-20 m-reset text-brown">ご挨拶 <span class="text-12">/ greeting</span></h1>
		<p class="m-reset">
			株式会社マミィはアメリカ生まれのインテリアクリーニング『ケムドライシステム』の施工店です。<br>
			通常のクリーニングでは落としきれないしつこい汚れや臭いなど、素材や状況に合わせて柔軟に対応させていただきます。<br>
			汚れを落とすのはもちろんですが、生地を傷めたり縮ませないのも特徴です。<br>
			これからも皆様に喜んでいただけるように努めてまいります。
		</p>
		<p class="text-right m-reset mb-20 text-brown text-bold">代表者　島田広子</p>
		<div class="ui-corner-all ui-shadow box-min box-section">
			<section class="mb-30">
				<h1 class="title-lined mb-10 m-reset text-18">
					<span>
						会社概要
					</span>
				</h1>
				<table class="table-simple pink">
					<tbody>
						<tr>
							<th>
								会社名
							</th>
							<td>
								株式会社マミィ
							</td>
						</tr>
						<tr>
							<th>
								代表者
							</th>
							<td>
								島田広子
							</td>
						</tr>
						<tr>
							<th>
								所在地
							</th>
							<td>
								〒362-0008<br>
								埼玉県上尾市上平中央2-2-28
							</td>
						</tr>
						<tr>
							<th>
								TEL
							</th>
							<td>
								<span class="tel-link">
									048-776-3207
								</span>
							</td>
						</tr>
						<tr>
							<th>
								FAX
							</th>
							<td>
								048-776-8259
							</td>
						</tr>
						<tr>
							<th>
								業務内容
							</th>
							<td>
								<ul class="list-simple">
									<li>清掃業</li>
									<li>繊維用染み抜き剤など清掃関連用品販売</li>
									<li>石材・木材クリーニング（染み抜き、現状回復）</li>
									<li>遺品整理</li>
									<li>ビル・マンション清掃</li>
								</ul>
							</td>
						</tr>
						<tr>
							<th>
								加盟
							</th>
							<td>
								ケムドライシステムフランチャイズ加盟
							</td>
						</tr>
						<tr>
							<th>
								認定
							</th>
							<td>
								遺品整理協会認定
							</td>
						</tr>
						<tr>
							<th>
								ケムドライシステム<br>主要採用実績
							</th>
							<td>
								丸の内ビル、丸の内北口ビル、都道府県会館、三菱信託銀行本店ビル、ゲートシティ大崎、東京三菱銀行本店、深川ギャザリア、新丸の内ビル、 目黒雅叙園、日本生命丸の内ビル、日石三菱虎ノ門ビル、三菱商事本社ビル、パレスホテル（大手町、立川）、太陽生命本社ビル、 浜離宮パークサイドプレイス、キャノン販売本社ビル、ビッグサイト、サンシャイン60、NHKホール、NHK放送センター、山王パークタワー、第一生命府中ビル、DNタワー、アルコタワー、品川インターシティ等
							</td>
						</tr>
					</tbody>
				</table>
			</section>
			<section>
				<h1 class="title-lined mb-10 text-18 m-reset">
					<span>
						アクセス
					</span>
				</h1>
				<div class="gmap">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1025.0932858032977!2d139.58785900079823!3d35.989600811046884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzXCsDU5JzIzLjYiTiAxMznCsDM1JzE0LjciRQ!5e0!3m2!1sja!2sjp!4v1491310505394" allowfullscreen></iframe>
				</div>
			</section>
		</div>
	</section>
</div>

<% include common/_footer %>