<%
var text = "お問い合わせ";
var page ="contact";
var eng ="CONTACT";
var title = "お問い合わせ｜株式会社マミィ｜ケムドライシステム施工のカーペット・ソファカーシートクリーニング";
var description = "株式会社マミィへのカーペット・ソファ・カーシート、インテリアクリーニングに関するご相談やお問い合わせは指定のメールフォーム・お電話でお問い合わせ下さい。商品のご注文も承っております。";
%>
<% include common/_head %>
<% include common/_header %>

<div class="container bg-stripe-pink">
	<div class="section-lg">
		<div class="ui-corner-all ui-shadow box-min box-section">
			<section class="mb-20">
				<h1 class="title-lined mb-10 m-reset text-18">
					<span>
						お電話でのお問い合わせ
					</span>
				</h1>
				<div class="box-tel">
					<div class="nums">
						<span class="title-num text-20"><i class="fa fa-phone" aria-hidden="true"></i></span>
						<span class="text-num">
							<span class="text-24 lh-reset text-bold"><span class="tel-link">048-776-3207</span></span>
						</span>
						<br>
						受付時間　9：00～20：00　(年中無休)
					</div>
				</div>
			</section>
			<section>
				<h1 class="title-lined mb-10 m-reset text-18">
					<span>
						メールでのお問い合わせ
					</span>
				</h1>
				<p class="mb-5 m-reset lh-md">
					下記のフォームをご入力いただきお問い合わせください。<br>
					お客さまからいただいたEメールアドレスが違っている場合や、システム障害などによりお返事できない場合がございます。<br>
					■ お問い合わせ情報は、フォームにご記入頂きましたメールアドレス宛にも自動返送されます。
				</p>
				<p class="mb-20">
					<span class="req-mark">必須</span> 印は必須項目となっております。
				</p>
				<form id="mail-form" name="mail-form" method="post" action="contact/postmail">
					<div class="mb-10 wrapper-input">
						<label for="fm_name" onclick=""><span class="req-mark">必須</span> お名前</label>
						<input type="text" name="word1" class="form-control text-input validate[required]" id="fm_name" placeholder="（例：山田　太郎）" size="20">
					</div>
					<div class="mb-10 wrapper-input">
						<label for="fm_furi" onclick=""><span class="req-mark">必須</span> フリガナ</label>
						<input type="text" name="word2" class="form-control text-input validate[required]" id="fm_furi" placeholder="（例：ヤマダ　タロウ）" size="20">
					</div>
					<div class="mb-10 wrapper-input">
						<label for="fm_corp" onclick="">会社名</label>
						<input type="text" name="word3" class="form-control text-input" id="fm_corp" placeholder="（例：株式会社マミィ）" size="20">
					</div>
					<div class="mb-10 wrapper-input">
						<label for="fm_mail" onclick=""><span class="req-mark">必須</span> メールアドレス</label>
						<input type="text" name="word4" class="form-control validate[required,custom[email]] text-input" id="fm_mail" placeholder="（半角入力　例：example@example.co.jp）" size="20">
					</div>
					<div class="mb-10 wrapper-input">
						<label for="fm_tel" onclick=""><span class="req-mark">必須</span>  ご連絡先電話番号</label>
						<input type="text" name="word5" class="form-control validate[required,custom[phone]]" id="fm_tel" placeholder="（半角入力　携帯可　例：048-776-3207）" size="20">
					</div>

					<div class="mb-10 wrapper-input">
						<label for="fm_address" onclick="">ご住所</label>
						<input type="text" name="word6" class="form-control" id="fm_address" placeholder="（例：埼玉県上尾市上平中央2-2-28）" size="20">
					</div>

					<div class="mb-10 wrapper-input">
						<span class="text-15"><span class="req-mark">必須</span>  お問い合わせについて</span>
						<input type="hidden" name="word7" value="">
						<div class="ui-field-contain">
							<fieldset data-role="controlgroup" data-theme="c">
								<input id="fm_reason1" name="word7[]" type="checkbox" value="お見積りについて" class="validate[required]"><label for="fm_reason1">お見積りについて</label>
								<input id="fm_reason2" name="word7[]" type="checkbox" value="クリーニングに関するご相談" class="validate[required]"><label for="fm_reason2">クリーニングに関するご相談</label>
								<input id="fm_reason3" name="word7[]" type="checkbox" value="商品についてのお問い合わせ" class="validate[required]"><label for="fm_reason3">商品についてのお問い合わせ</label>
								<input id="fm_reason4" name="word7[]" type="checkbox" value="その他のお問い合わせ" class="validate[required]"><label for="fm_reason4">その他のお問い合わせ</label>
							</fieldset>
						</div>
					</div>

					<div class="mb-10 wrapper-input">
						<span class="text-15"> 商品のご注文について</span>
						<input type="hidden" name="word8" value="">
						<div class="ui-field-contain">
							<fieldset data-role="controlgroup" data-theme="c">
								<input id="fm_item1" name="word8[]" type="checkbox" value="バイオ式家庭用生ごみ処理機「環境すぐれもの」のご注文"><label for="fm_item1">バイオ式家庭用生ごみ処理機「環境すぐれもの」のご注文</label>
								<input id="fm_item2" name="word8[]" type="checkbox" value="レンジフード用カバー「ぴたクリーン」」のご注文"><label for="fm_item2">レンジフード用カバー「ぴたクリーン」」のご注文</label>
								<input id="fm_item3" name="word8[]" type="checkbox" value="繊維専用スポットクリーナー「ステインエクスティングイッシャー」のご注文"><label for="fm_item3">繊維専用スポットクリーナー「ステインエクスティングイッシャー」のご注文</label>
							</fieldset>
							<p class="text-10 text-red text-indent m-reset">
								※ご希望商品を選択のうえ、ご希望の数量をお問い合わせ内容にご入力下さい。
								担当者が確認後、在庫状況をお調べしてご連絡差し上げます。
							</p>
						</div>
					</div>

					<div class="mb-10 wrapper-input">
						<label for="fm_text" onclick=""><span class="req-mark">必須</span> お問い合わせ内容</label>
						<textarea name="word9" cols="40" rows="8" class="form-control validate[required]" id="fm_text" placeholder="（ご自由にお書きください）" ></textarea>
					</div>

					<div class="privacy-box">
						<p class="text-bold mb-5">
							プライバシーポリシー
						</p>
						<div class="privacy-text text-10 lh-md">
							<p>
								当社は、個人情報保護の重要性を認識し、個人情報保護の方針を定めるとともに、個人情報の適切な保護に努めます。<br>
								個人情報の収集、利用に関する基本原則、管理方法ならびに実効性を持たせる手段として教育・訓練、監査等について以下のとおり規定し、実行して参ります。
							</p>
							<p class="text-bold">
								個人情報の収集、利用、提供等に関する基本原則
							</p>
							<ol>
								<li>個人情報を直接収集する際は、適法かつ公正な手段により、本人の同意を得た上で行います。</li>
								<li>収集にあたっては、利用目的を明確にし、その目的のために必要な範囲内にとどめます。</li>
								<li>個人の利益を侵害する可能性が高い機微な情報は、本人の明確な同意がある場合または法令等の裏付けがある場合以外には収集しません。</li>
								<li>当社が個人情報の処理を伴う業務を外部から受託する場合や外部へ委託する場合は、個人情報に関する秘密の保持、再委託に関する事項、事故時の責任分担、契約終了時の個人情報の返却および消去等について定め、それに従います。</li>
								<li>個人情報は、本人の同意を得た範囲内で利用、提供します。</li>
							</ol>
							<p class="text-bold">
								個人情報の管理について
							</p>
							<ol>
								<li>当社が直接収集または外部から業務を受託する際に入手した個人情報は、正確な状態に保ち、不正アクセス、紛失・破壊・改ざんおよび漏洩等を防止するための措置を講じます。</li>
								<li>個人情報の処理を伴う業務を外部から受託する場合は、委託者が個人情報を入手した際、本人の同意を得た上で、適法かつ公正な手段によって収集したものであることを確認します。</li>
							</ol>
							<p class="text-bold">
								法令及びその他の規範について
							</p>
							<p>
								当社は、個人情報の保護に関係する日本の法令及びその他の規範を遵守し、本方針の継続的改善に努めます。
							</p>
							<p class="text-bold">
								本人からのお問い合わせ
							</p>
							<p>
								本人からの個人情報の取扱いに関するお問い合わせには、妥当な範囲において、すみやかな対応に努めます。<br>
								このページの内容に関するご質問及びお客様がご自身の個人情報についてご確認されたい場合には、
								【お問い合わせフォーム】もしくは【TEL:<span class="tel-link">048-776-3207</span>】までお問い合わせ下さい。
							</p>
						</div>
					</div>
					<div class="ui-field-contain">
						<label for="agree" class="text-10"> 上記個人情報の取扱いに同意する</label>
						<input type="checkbox" name="word10" id="agree" value="個人情報の取扱いに同意" data-theme="c" class="validate[required]">
					</div>

					<p class="text-center">
						<button type="submit" id="mail_submit_button" name="mail_submit_button" class="ui-shadow ui-btn ui-corner-all ui-icon-carat-r ui-btn-icon-right">
							送信確認画面へ
						</button>
					</p>

				</form>
			</section>
		</div>
	</div>
</div>

<% include common/_footer %>