<%
var text = "施工事例";
var page ="case";
var eng ="CASE";
var title = "施工事例｜株式会社マミィ｜ケムドライシステム施工のカーペット・ソファカーシートクリーニング";
var description = "株式会社マミィがこれまで施工した事例をご紹介いたします。カーペット・ソファ・カーシートを始めとしたケムドライシステムの施行例や外壁清掃やエアコンクリーニング等の様々な事例がご覧いただけます。";
%>
<% include common/_head %>
<% include common/_header %>
<!--取扱サービス選択(開閉型メニュー)-->
<div data-role="collapsible-set" id="list-service-panel">
	<div data-role="collapsible">
		<h3>取扱サービス</h3>
		<ul class="list-group" data-role="listview" data-inset="false">
			<!--カテゴリーリンク-->
			<li><a href="./case.html">ソファー・椅子クリーニング</a></li>
			<li><a href="./case.html">カテゴリータイトル カテゴリータイトル カテゴリータイトル カテゴリータイトル</a></li>
			<li><a href="./case.html">カテゴリータイトル</a></li>
			<li><a href="./case.html">カテゴリータイトル</a></li>
			<li><a href="./case.html">カテゴリータイトル</a></li>
			<li><a href="./case.html">カテゴリータイトル</a></li>
		</ul>
	</div>
</div>
<!--/取扱サービス選択(開閉型メニュー)-->
<div class="container bg-stripe-pink">
	<section class="section-lg">
		<article class="ui-corner-all ui-shadow box-min box-section box-entry">
			<header>
				<h1>
					ソファー・椅子クリーニング
				</h1>
			</header>
			<div class="gallery-wrapp mb-20">
				<!--メイン画像配置 初期画像＋初期テキスト挿入-->
				<div class="block-gallery-main mb-10">
					<p class="img-gallery-main mb-10">
						<span class="img-main" style="background-image:url(./img/sample/img-sample-4x3.jpg)"></span>
					</p>
					<p class="text-main">
						説明テキスト挿入説明テキスト挿入説明テキスト挿入説明テキスト挿入説明テキスト挿入
					</p>
				</div>
				<div class="thumbs-gallery">
					<!--サムネイル画像配置 date-textへ差し替えテキスト挿入-->
					<ul class="clearfix">
						<li class="active">
							<p>
								<a href="./img/sample/img-sample-4x3.jpg" data-text="差し替えテキスト挿入">
									<!--サムネイル(背景として指定)-->
									<span class="img-thumbs" style="background-image:url(./img/sample/img-sample-4x3.jpg)"></span>
								</a>
							</p>
						</li>
						<li>
							<p>
								<a href="./img/sample/img-sample-16x9.jpg" data-text="差し替えテキスト挿入2">
									<!--サムネイル(背景として指定)-->
									<span class="img-thumbs" style="background-image:url(./img/sample/img-sample-16x9.jpg)"></span>
								</a>
							</p>
						</li>
						<li>
							<p>
								<a href="./img/sample/img-sample-16x9.jpg" data-text="差し替えテキスト挿入3">
									<!--サムネイル(背景として指定)-->
									<span class="img-thumbs" style="background-image:url(./img/sample/img-sample-16x9.jpg)"></span>
								</a>
							</p>
						</li>
						<li>
							<p>
								<a href="./img/sample/img-sample-16x9.jpg" data-text="差し替えテキスト挿入4">
									<!--サムネイル(背景として指定)-->
									<span class="img-thumbs" style="background-image:url(./img/sample/img-sample-16x9.jpg)"></span>
								</a>
							</p>
						</li>
						<li>
							<p>
								<a href="./img/sample/img-sample-9x16.jpg" data-text="差し替えテキスト挿入5">
									<!--サムネイル(背景として指定)-->
									<span class="img-thumbs" style="background-image:url(./img/sample/img-sample-9x16.jpg)"></span>
								</a>
							</p>
						</li>
						<li>
							<p>
								<a href="./img/sample/img-sample-9x16.jpg" data-text="差し替えテキスト挿入5">
									<!--サムネイル(背景として指定)-->
									<span class="img-thumbs" style="background-image:url(./img/sample/img-sample-9x16.jpg)"></span>
								</a>
							</p>
						</li>
						<li>
							<p>
								<a href="./img/sample/img-sample-9x16.jpg" data-text="差し替えテキスト挿入5">
									<!--サムネイル(背景として指定)-->
									<span class="img-thumbs" style="background-image:url(./img/sample/img-sample-9x16.jpg)"></span>
								</a>
							</p>
						</li>
						<li>
							<p>
								<a href="./img/sample/img-sample-9x16.jpg" data-text="差し替えテキスト挿入5">
									<!--サムネイル(背景として指定)-->
									<span class="img-thumbs" style="background-image:url(./img/sample/img-sample-9x16.jpg)"></span>
								</a>
							</p>
						</li>
					</ul>
				</div>
			</div>
			<section class="minsection-entry mb-20">
				<h3>・施工のポイント</h3>
				<p>
					施工のポイントテキスト挿入。施工のポイントテキスト挿入。施工のポイントテキスト挿入。施工のポイントテキスト挿入。施工のポイントテキスト挿入。施工のポイントテキスト挿入。施工のポイントテキスト挿入。施工のポイントテキスト挿入。施工のポイントテキスト挿入。施工のポイントテキスト挿入。施工のポイントテキスト挿入。
				</p>
			</section>
			<a href="./case.html" class="mb-none ui-shadow ui-btn ui-corner-all ui-btn-icon-left ui-icon-carat-l">
				1つ前のページに戻る
			</a>
		</article>
	</section>
</div>

<% include common/_footer %>