<%
var page ="index";
var title = "ケムドライシステム施工店｜株式会社マミィ｜カーペット・ソファ・カーシート等のクリーニング";
var description = "株式会社マミィは通常では落ちにくいカーペット・ソファ・カーシート等のクリーニングを行う清掃業者です。通常では落ちにくいペットや油の汚れや臭いをケムドライシステムでキレイに落とします。";
%>
<% include common/_head %>
<% include common/_header %>

<ul class="bxslider">
	<!--メインビジュアルリンク設置-->
	<li><a href="./service.html"><img src="./img/common/main1.jpg" alt="車のシートの匂いヤニ汚れ。1台から複数台まで！バスやタクシーもOK！" /></a></li>
	<li><a href="./chemdry.html"><img src="./img/common/main2.jpg" alt="しつこい汚れも『ケムドライシステム』でキレイ。個人様でも法人様でもお待ちしております" /></a></li>
	<li><a href="./service.html"><img src="./img/common/main3.jpg" alt="木材石材のカビ染み。汚れに合わせて解析、汚れを分解するMOS工法" /></a></li>
	<li><a href="./service.html"><img src="./img/common/main4.jpg" alt="傷まない・縮まないカーペットクリーニング。赤ワイン等の赤い染み落としの不可能を可能に！" /></a></li>
</ul>

<div class="container bg-stripe-pink">
	<section class="section-lg">
		<h1 class="title-top-01 text-16 text-center mb-20 lh-md m-reset">
			<span>しつこい汚れも</span><br>
			<span class="text-22 text-pink">
				2つの専門クリーニング
			</span><br>
			<span>
				でキレイに！
			</span>
		</h1>
		<div class="box-top-01 mb-10">
			<a href="./chemdry.html" class="chem">
				<p class="title mb-10">
					ケムドライシステム
				</p>
				<p class="text-center m-reset">
					<img src="./img/common/img-top-01-top.png" width="245" alt="ソファ・カーペット・車のシート">
				</p>
			</a>
			<a href="./chemdry.html#mos" class="mos">
				<p class="title mb-10">
					MOS工法
				</p>
				<p class="text-center m-reset">
					<img src="./img/common/img-top-01-bottom.png" width="70" alt="ソファ・カーペット・車のシート">
				</p>
			</a>
		</div>
		<section class="section-sm bg-about">
			<div class="text-center m-reset mb-10 text-bold text-brown">
				<p class="m-reset text-14">ソファやカーペットからビル清掃まで！</p>
				<p class="text-16 m-reset lh-md">
					身の回りの清掃・クリーニングは<br><span class="text-pink text-20">マミィ</span>へお任せ下さい！
				</p>
			</div>
			<p>
				株式会社マミィは埼玉県を中心に個人様、法人様向けにクリーニング、清掃業務を行っております。<br>
				ケムドライシステムとMOS工法による専門クリーニングにより
				ソファ、椅子、カーペット、車のシートなどの繊維素材のクリーニングや外壁の清掃、
				原状回復などあらゆるご要望に柔軟にご対応致します！<br>
				その他、清掃関連用品のは販売やビル、マンション清掃業務やエアコンクリーニング、遺品整理も承ります。<br>
				ご相談からお見積り依頼までまずはお気軽にお問い合わせ下さい！
			</p>
		</section>
	</section>
</div>
<div class="container bg-yellow bg-top-02">
	<section class="section-lg">
		<h1 class="text-20 text-pink mb-20 text-center">
			サービス・料金一覧
		</h1>

		<div class="box-top-02 mb-10">
			<p class="cat chem">
				ケムドライシステム
			</p>
			<!--サービスページへリンクURL-->
			<a href="./service.html#service01" class="content" data-ajax="false">
				<div class="img">
					<img src="./img/common/img-top-service-01.jpg" width="80" alt="ソファー・椅子">
				</div>
				<div class="text">
					<p class="title m-reset">ソファー・椅子</p>
					<p class="detail m-reset">
						様々な繊維素材に対応するのはもちろん、皮・レザー・ビニール素材でも対応可能です。大事なソファーが汚れて困っているという方、ぜひご相談下さい。
					</p>
				</div>
			</a>
		</div>

		<div class="box-top-02 mb-10">
			<p class="cat chem">
				ケムドライシステム
			</p>
			<!--サービスページへリンクURL-->
			<a href="./service.html#service02" class="content" data-ajax="false">
				<div class="img">
					<img src="./img/common/img-top-service-02.jpg" width="80" alt="カーペット">
				</div>
				<div class="text">
					<p class="title m-reset">カーペット</p>
					<p class="detail m-reset">
						ケムドライシステムでクリーニングしたカーペットは、傷めたり縮めたりということがなく、ホコリやヨゴレを再び引きつける残留物を残さないので、仕上がりの美しさはもちろん耐用年数自体もグンと伸びます。
					</p>
				</div>
			</a>
		</div>

		<div class="box-top-02 mb-10">
			<p class="cat chem">
				ケムドライシステム
			</p>
			<!--サービスページへリンクURL-->
			<a href="./service.html#service03" class="content" data-ajax="false">
				<div class="img">
					<img src="./img/common/img-top-service-03.jpg" width="80" alt="車のシート洗浄">
				</div>
				<div class="text">
					<p class="title m-reset">車のシート洗浄</p>
					<p class="detail m-reset">
						車のシートの洗浄をお任せ下さい。ペットの臭いやタバコのヤニ汚れ、飲み物や食べこぼしなど、シミついてとれない汚れも、当社の洗浄ならキレイに落とします。
					</p>
				</div>
			</a>
		</div>

		<div class="box-top-02 mb-10">
			<p class="cat mos">
				MOS工法
			</p>
			<!--サービスページへリンクURL-->
			<a href="./service.html#service04" class="content" data-ajax="false">
				<div class="img">
					<img src="./img/common/img-top-service-04.jpg" width="80" alt="石材クリーニング">
				</div>
				<div class="text">
					<p class="title m-reset">石材クリーニング</p>
					<p class="detail m-reset">
						MOS工法によるクリーニングで汚れに合わせて各種石材に対応します！
					</p>
				</div>
			</a>
		</div>

		<div class="box-top-02 mb-10">
			<p class="cat mos">
				MOS工法
			</p>
			<!--サービスページへリンクURL-->
			<a href="./service.html#service05" class="content" data-ajax="false">
				<div class="img">
					<img src="./img/common/img-top-service-05.jpg" width="80" alt="木材クリーニング">
				</div>
				<div class="text">
					<p class="title m-reset">木材クリーニング</p>
					<p class="detail m-reset">
						MOS工法で木材を傷めることなく綺麗に！劣化も引き戻す復元清掃！
					</p>
				</div>
			</a>
		</div>

		<div class="box-top-02 mb-10">
			<p class="cat mos">
				MOS工法
			</p>
			<!--サービスページへリンクURL-->
			<a href="./service.html#service06" class="content" data-ajax="false">
				<div class="img">
					<img src="./img/common/img-top-service-06.jpg" width="80" alt="カビ根絶">
				</div>
				<div class="text">
					<p class="title m-reset">カビ根絶</p>
					<p class="detail m-reset">
						経年による汚れやカビ・水垢やエフロ・さびなどを取り除きもとの姿に近づけます！
					</p>
				</div>
			</a>
		</div>

		<div class="box-top-02 mb-10">
			<!--サービスページへリンクURL-->
			<a href="./service.html#service07" class="content" data-ajax="false">
				<div class="img">
					<img src="./img/common/img-top-service-07.jpg" width="80" alt="ハウスクリーニングビル清掃">
				</div>
				<div class="text">
					<p class="title m-reset">ハウスクリーニングビル清掃</p>
					<p class="detail m-reset">
						身の回りの清掃からビルの定期清掃まで！<br>
						引越し前清掃も承ります！
					</p>
				</div>
			</a>
		</div>
		<div class="box-top-02 mb-10">
			<!--サービスページへリンクURL-->
			<a href="./service.html#service09" class="content" data-ajax="false">
				<div class="img">
					<img src="./img/common/img-top-service-08.jpg" width="80" alt="エアコンクリーニング">
				</div>
				<div class="text">
					<p class="title m-reset">エアコンクリーニング</p>
					<p class="detail m-reset">
						ビルから一般住宅まで！<br>
						あらゆるエアコンの清掃に対応します！
					</p>
				</div>
			</a>
		</div>
		<div class="box-top-02">
			<!--サービスページへリンクURL-->
			<a href="./service.html#service08" class="content" data-ajax="false">
				<div class="img">
					<img src="./img/common/img-top-service-09.jpg" width="80" alt="遺品整理">
				</div>
				<div class="text">
					<p class="title m-reset">遺品整理</p>
					<p class="detail m-reset">
						心づくしの遺品整理、個人の想いを大切にマミィがお手伝いします。
					</p>
				</div>
			</a>
		</div>
	</section>
</div>
<div class="container bg-top-03">
	<section class="section-lg">
		<h1 class="text-20 text-white lh-md text-glow-blue">
			ケムドライシステムと<br>
			MOS工法について
		</h1>
		<p class="text-14 text-white text-glow-blue">
			アメリカ生まれのインテリアクリーニング「ケムドライシステム」カーペットやソファー、椅子などの汚れやシミをキレイに落とし、「MOS工法」は汚れを分析して洗剤自体の反応で分解、除去します。<br>
			あらゆる素材に対応しており、繊維を傷つけたり縮ませることがありません。<br>
			環境、人体にも安全な洗浄液を使用しいつまでも美しさが持続します。<br>
			他社でお断りされてしまった汚れ、あきらめていた汚れも一度ご相談下さい。
		</p>
		<a href="./chemdry.html" class="mb-20 ui-shadow ui-btn ui-btn-b ui-corner-all ui-btn-icon-right ui-icon-carat-r">
			ケムドライシステムについて
		</a>
		<a href="./chemdry.html#mos" class="mb-none ui-shadow ui-btn ui-btn-b ui-corner-all ui-btn-icon-right ui-icon-carat-r">
			MOS工法について
		</a>
	</section>
</div>
<div class="container">
	<section class="section-lg">
		<div class="title-ribon-wrapper mb-40">
			<h1 class="text-20 title-ribon pink text-white">
				クリーニング事例
			</h1>
		</div>

		<div class="clearfix mb-20">
			<!--事例date参照-->
			<div class="box-case-top match ui-corner-all ui-shadow bg-gray mb-10">
				<p class="text-cat">
					ソファー・椅子クリーニング
				</p>
				<!--URL 画像は背景として指定-->
				<a href="./case.html" class="img-thumbs mb-10" style="background-image: url('./img/sample/img-sample-4x3.jpg')"></a>
				<p class="text-item">
					ソファー清掃例
				</p>
				<p>
					textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。
				</p>
			</div>

			<!--事例date参照-->
			<div class="box-case-top match ui-corner-all ui-shadow bg-gray mb-10">
				<p class="text-cat">
					カテゴリータイトル
				</p>
				<!--URL 画像は背景として指定-->
				<a href="./case.html" class="img-thumbs mb-10" style="background-image: url('./img/sample/img-sample-4x3.jpg')"></a>
				<p class="text-item">
					ソファー清掃例
				</p>
				<p>
					textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。
				</p>
			</div>

			<!--事例date参照-->
			<div class="box-case-top match ui-corner-all ui-shadow bg-gray mb-10">
				<p class="text-cat">
					カテゴリータイトル
				</p>
				<!--URL 画像は背景として指定-->
				<a href="./case.html" class="img-thumbs mb-10" style="background-image: url('./img/sample/img-sample-4x3.jpg')"></a>
				<p class="text-item">
					ソファー清掃例
				</p>
				<p>
					textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。
				</p>
			</div>

			<!--事例date参照-->
			<div class="box-case-top match ui-corner-all ui-shadow bg-gray mb-10">
				<p class="text-cat">
					カテゴリータイトル
				</p>
				<!--URL 画像は背景として指定-->
				<a href="./case.html" class="img-thumbs mb-10" style="background-image: url('./img/sample/img-sample-4x3.jpg')"></a>
				<p class="text-item">
					ソファー清掃例
				</p>
				<p>
					textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。textが入ります。
				</p>
			</div>
		</div>

		<a href="./case.html" class="mb-none ui-shadow ui-btn ui-corner-all ui-btn-icon-right ui-icon-carat-r">
			クリーニング事例を詳しく見る
		</a>
	</section>
</div>
<div class="container bg-yellow">
	<section class="section-lg">
		<h1 class="text-40 text-brown title-sale text-center lh-md">
			<span><img src="./img/common/icon-sale.png" width="14" alt="清掃品"></span><br>
			清掃用品販売
		</h1>
		<div class="box-sale text-center bb">
			<div class="mb-20">
				<p>
					<img src="./img/common/img-sale-01.png" width="155" alt="環境すぐれもの">
				</p>
				<p class="text-14 text-bold text-center mb-10">
					バイオ式家庭用生ごみ処理機<br>
					「環境すぐれもの」
				</p>
				<p class="text-center text-14 price-01 text-bold lh-reset mb-10">
					￥79,800（税込）
				</p>
				<p class="text text-left">
					バイオの力で生ごみが消滅！<br>
					最短10分で生ごみが消滅します！<br>
					環境に優しく、ほとんど臭いません。<br>
					家庭用電気生ごみ処理機の助成金の対象商品となっておりますので補助金と助成金が活用できます。
				</p>
			</div>
			<a href="./contact.html" class="btn-min mb-none ui-shadow ui-btn ui-corner-all ui-btn-icon-right ui-icon-carat-r">
				ご注文・お問い合わせはこちら
			</a>
		</div>
		<div class="box-sale text-center bb">
			<div class="mb-20">
				<p>
					<img src="./img/common/img-sale-02.png" width="155" alt="ぴたクリーン">
				</p>
				<p class="text-14 text-bold text-center mb-10">
					レンジフード用カバー<br>
					「ぴたクリーン」
				</p>
				<p class="text-center text-14 price-02 text-bold lh-reset mb-10">
					枠　1枚 ￥3,400（税込）～<br>
					フィルター(12枚入り) ￥5,400（税込）～
				</p>
				<p class="text text-left">
					ワンタッチ交換のできるレンジフード用カバーです。換気扇内部やダクトの中の汚れを防ぎ、劣化を防ぐ効果もあります。<br>
					1枚で1～3ヶ月使用可能、あらゆる機種に対応します。<br>
					サイズによって価格が異なりますのでまずはお気軽にお問い合わせ下さい。
				</p>
			</div>
			<a href="./contact.html" class="btn-min mb-none ui-shadow ui-btn ui-corner-all ui-btn-icon-right ui-icon-carat-r">
				ご注文・お問い合わせはこちら
			</a>
		</div>
		<div class="box-sale text-center">
			<div class="mb-20">
				<p>
					<img src="./img/common/img-sale-03.png" width="155" alt="ステインエクスティングイッシャー">
				</p>
				<p class="text-14 text-bold text-center mb-10">
					繊維専用スポットクリーナー<br>
					「ステインエクスティングイッシャー」
				</p>
				<p class="text-center text-14 price-03 text-bold lh-reset mb-10">
					￥2,100（税込）
				</p>
				<p class="text text-left">
					カーペット、ソファ、カーテン、車のシート等に使用できる繊維製品専用スポットクリーナーです。<br>
					強い成分を使用しない炭素の気泡でクリーニングするので洗浄力に優れ、デリケートな繊維製品にも安心して使用できます。
				</p>
			</div>
			<a href="./contact.html" class="btn-min mb-none ui-shadow ui-btn ui-corner-all ui-btn-icon-right ui-icon-carat-r">
				ご注文・お問い合わせはこちら
			</a>
		</div>
	</section>
</div>
<div class="container">
	<section class="section-lg">
		<h1 class="text-20 title-blog mb-30">
			<i class="fa fa-commenting text-pink" aria-hidden="true"></i>
			マミィのブログ
		</h1>
		<iframe class="blog-container"src="https://feed.mikle.com/widget/v2/21098/"></iframe>
	</section>
</div>

<% include common/_footer %>