@charset "utf-8";
$font-col: #333;
$col-blue: #015db2;
$col-blue2: #000065;

$col-pink: #ff73a2;
$col-brown: #524110;

@import "core/*";
@import "modules/*";
@import "settings/*";

*{
  box-sizing: border-box;
}
.ui-listview>li p {
  white-space: normal;
}
.btn-link{
  display: inline-block;
  &:hover{
    opacity: .8;
  }
}
.btn-min{
  margin: 0 auto;
  width: 300px;
  line-height: 15px;
}

.eng{
  font-family: 'Arial','Roboto', sans-serif;
}
html,
body {
  color: $font-col;
  -webkit-text-size-adjust: 100%;
  font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
  font-size: 10px;
  line-height: (28 / 15);
}
body {
  color: $font-col;
}
.text-pink{
  color: $col-pink;
}
.text-blue{
  color: #0971bb;
}
.text-vio{
  color: #a463b0;
}
.text-white{
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}
.text-brown{
  color: #524110;
}
.ui-mobile .ui-page{
  @include fontsize(12);
}
.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
  left: 24em;
}
.ui-panel{
  width: auto;
  .number-footer{
    margin-top: 0;
    font-weight: bold;
    i{
      width: 20px;
      text-align: center;
    }
    a{
      text-decoration: none;
    }
  }
}
.contact-panel{
  width: 240px;
  a{
    text-decoration: none;
    color: #333;
  }
}
.banners-side{
  .btn-contact-panel{
    display: inline-block;
    padding-left: 10px;
  }
}
.g-nav{
  li{
    .ui-btn{
      padding: 1em 1em;
      &.active{
        background-color: #ffdbe7 !important;
        color: $col-pink!important;
        text-shadow: none;
      }
    }
  }
}
.header{
  padding-top: 10px;
  .ui-title, .ui-footer .ui-title {
    text-align: left;
    margin: 0;
    margin-left: 1em;
  }
  h1{
    .logo-title{
      display: inline-block;
    }
  }
  .ui-btn{
    background-color: $col-pink !important;
    box-shadow: none;
    padding: 16px;
    margin-top: 10px;
    border-radius: 3px;
    border: none !important;
  }
}
.footer{
  background-color: $col-pink !important;
  border: none;
  h3{
    color: #fff;
    font-weight: bold;
    text-shadow: none;
    margin: 0;
  }
}
.ui-content{
  padding: 0;
}


.bg-gray{
  background-color: #f3f3f3;
}
.bg-stripe-pink{
  background-image: url("../img/common/bg-stripe-pink.jpg");
  background-size: 11px auto;
}
.bg-stripe-bio{
  background-image: url("../img/common/bg-stripe-bio.jpg");
  background-size: 14px auto;
}
.bg-stripe-blue{
  background-image: url("../img/common/bg-stripe-blue.jpg");
  background-size: 14px auto;
}
.bg-yellow{
  background-color: #fef8e7;
}
.box-min{
  padding: 1em;
}
.box-min-yoko{
  padding-left: .5em;
  padding-right: .5em;
}
.title-ribon-wrapper{
  position: relative;
  z-index: 1;
}
@mixin title-ribon($col: #f1e62e,$col2: #b6ae22){
  margin: 0 auto;
  padding: 0;
  background-color: $col;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.3;
  width: 80%;
  text-align: center;
  position: relative;
  border: 2px solid #fff;
  text-shadow: 1px 1px 1px rgba(50,50,50,.5);
  text-shadow: none;
  &::before, &::after {
    content: '';
    border: 15px solid transparent;
    position: absolute;
    z-index: -1;
  }
  &::before {
    background-color: $col;
    border-color: transparent;
    border-left-color: #fff;
    border-right-color: $col2;
    top: 50%;
    left: -30px;
    width: 15px;
  }
  &::after {
    background-color: $col;
    border-color: transparent;
    border-left-color: $col2;
    border-right-color: #fff;
    top: 50%;
    right: -30px;
    width: 15px;
  }
}
.title-ribon{
  @include title-ribon();
}
.title-ribon.pink{
  @include title-ribon($col-pink,#d45d85);
}
/*****************
TOPページ
******************/
.bx-wrapper{
  background: transparent;
  padding: 0;
  border: none;
  box-shadow: none;
  text-align: center;
  margin-bottom: 0;
  img{
    margin: 0 auto;
  }
}
.title-top-01{
  padding-top: 10px;
  background-image: url("../img/common/bg-lead-top-01.png");
  background-size: 31px auto;
  background-position: 90% top;
  background-repeat: no-repeat;
}
.box-top-01{
  .chem,.mos{
    padding: 1em;
    display: block;
    &.chem{
      background-color: #f6e5f7;
      color: #8b4099;
      .title{
        background-image: url("../img/common/border-top-01-left.png");
      }
    }
    &.mos{
      background-color: #cee9fc;
      color: #0971bb;
      .title{
        background-image: url("../img/common/border-top-01-right.png");
      }
    }
    .title{
      @include fontsize(16);
      font-weight: bold;
      line-height: 1;
      text-align: center;
      padding-bottom: 10px;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: 280px auto;
    }
  }
}
.bg-top-02{
  padding-bottom: 30px;
}
.box-top-02{
  .cat{
    text-align: center;
    @include fontsize(12);
    font-weight: bold;
    line-height: 1;
    width: 140px;
    line-height: 25px;
    border-radius: 12px 12px 0 0;
    margin-bottom: 0;
    &.chem{
      background-color: #f6e5f7;
      color: #a463b0;
    }
    &.mos{
      background-color: #cee9fc;
      color: #0971bb;
    }
  }
  .content{
    border: 1px solid #f3f3f3;
    background-color: #fff;
    padding: 1em;
    display: table;
    width: 100%;
    color: $font-col;
    text-decoration: none;
    position: relative;
    &:hover{
      background-color: #f6f6f6;
    }
    &::before{
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -5px;
      display: block;
      width: 20px;
      height: 20px;
      content:'\f054';
      color: $col-pink;
      font-family: FontAwesome;
      @include fontsize(10);
    }
    &.nolink{
      &:hover{
        background-color: #fff;
      }
      &::before{
        content: none;
      }
    }
    .img{
      display: table-cell;
      width: 90px;
      vertical-align: middle;
    }
    .text{
      display: table-cell;
      vertical-align: middle;
      padding-right: 1em;
      .title{
        @include fontsize(14);
        font-weight: bold;
        color: $col-pink;
      }
      .detail{
        @include fontsize(10);
        font-weight: normal;
        color: $font-col;
      }
    }
  }
}
.bg-top-03{
  background-image: url("../img/common/bg-top-03.jpg");
  background-size: cover;
  background-position: center center;
  .section-lg{
    background-image: url("../img/common/img-top-03.png");
    background-size: 117px auto;
    background-position: right top;
    background-repeat: no-repeat;
  }
}
.text-glow-blue{
  text-shadow: 0 0 2px #002;
}
.img-thumbs{
  display: block;
  width: 100%;
  height: 0;
  padding-top: 75%;
  background-position: center center;
  background-size: cover;
}
.box-case-top{
  width: 46%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 1em;
  float: left;
  p{
    margin: 0;
  }
  .img-thumbs{
    &:hover{
      opacity: .7;
    }
  }
  .text-cat{
    font-weight: bold;
    color: $col-pink;
    @include fontsize(12);
    text-align: center;
    margin-bottom: 5px;
  }
  .text-item{
    border-bottom: 1px dotted #c4c4c4;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-align: center;
  }
}
.title-sale{
  padding-top: 40px;
  background-image: url("../img/common/bg-sale.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 175px auto;
  margin-top: -40px;
}
.box-sale{
  &.bb{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #dfdbd0;
  }
  p{
    margin: 0;
    line-height: 1.4;
  }
  .text{
    padding: 0 1em;
  }
  .price-01{
    color: $col-pink;
  }
  .price-02{
    color: #f89508;
  }
  .price-03{
    color: #4da05e;
  }
}
.title-blog{
  padding-bottom: 5px;
  background-image: url("../img/common/border-blog.png");
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 120px auto;
}

.blog-container{
  width: 100%;
  border: none;
}


/*****************
下層ページ
******************/
.pagetitle{
  display: table;
  width: 100%;
  background-color: $col-pink;
  border-top: 5px solid #ffd3e2;
  .inner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #cf3f6f;
    font-weight: bold;
    height: 80px;
  }
  p{
    @include fontsize(20);
    font-weight: bold;
    line-height: 1;
    margin: 0;
    margin: 5px;
  }
  span{
    @include fontsize(10);
    font-weight: bold;
    color: $col-pink;
    display: inline-block;
    padding: 0 20px;
    line-height: 1.2;
    text-shadow: none;
    background-color: #fff;
    border-radius: 10px;
  }
}
.bg-about{
  background-image: 
  url("../img/common/bg-about-01-left.png"), 
  url("../img/common/bg-about-01-right.png");
  background-position:
  left 3em, right 5em;
  background-repeat: 
  no-repeat, no-repeat;
  background-size: 
  30px auto, 30px auto;
}
.box-section{
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  padding-top: 2em;
  padding-bottom: 2em;
}
.section-about{
  &.bb{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f3f3f3;
  }
}
.line-marker{
  display: inline-block;
  padding: 0 2px;
  background: linear-gradient(transparent 60%, #ff9 0%);
}
.block-num{
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  background-color: $col-pink;
  color: #fff;
  text-shadow: none;
  border-radius: 5px;
  text-align: center;
  line-height: 1.3em;
  margin-right: 5px;
  @include fontsize(18);
  &.blue{
    background-color: #0971bb;
  }
}
.btn-faq{
  cursor: pointer;
  position: relative;
  @include fontsize(14);
  line-height: 1.5;
  border-radius: 30px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 32px;
  background-color: #fff;
  font-weight: bold;
  &:hover{
    background-color: #ffe9f2;
  }
  &::after{
    text-shadow: none;
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -10px;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: $col-pink;
    content:'Q';
    color: #fff;
    font-family: FontAwesome;
    @include fontsize(16);
  }
  &::before{
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -8px;
    display: block;
    width: 16px;
    height: 16px;
    content:'\f078';
    color: #ccc;
    font-family: FontAwesome;
    @include fontsize(12);
  }
  &.open{
    background-color: $col-pink;
    &::before{
      content:'\f077';
      color: #fff;
    }
  }
}
.section-faq{
  .content-faq{
    display: none;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    margin-top: 10px;
    border-radius: 10px;
    padding: .5em;
    .answer-faq{
      position: relative;
      padding-left: 2.5em;
      &::before{
        text-shadow: none;
        position: absolute;
        left: .5em;
        top: 1em;
        margin-top: -10px;
        display: block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 5px;
        background-color: #0971bb;
        content:'A';
        color: #fff;
        font-family: FontAwesome;
        @include fontsize(16);
      }
    }
  }
}
.bg-chemdry{
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 600px auto;
  &.chemdry{
    background-image: url("../img/common/bg-chemdry.jpg");
  }
  &.mos{
    background-image: url("../img/common/bg-mos.jpg");
  }
}
.title-lined{
  font-weight: bold;
  padding-bottom: 0;
  border-bottom: 2px solid #ddd;
  line-height: 1;
  span{
    position: relative;
    padding-right: 10px;
    padding-bottom: 5px;
    display: inline-block;
    &::after {
      position: absolute;
      bottom: -2px;
      left: 0;
      z-index: 2;
      content: '';
      width: 100%;
      height: 2px;
      background-color: $col-pink;
    }
  }
  &.bio{
    span{
      &::after{
        background-color: #a463b0;
      }
    }
  }
}
.table-chemdry{
  border: 2px solid #ddd;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  width: 100%;
  @include fontsize(10);
  .bio{
    color: #a463b0;
    background-color: #fdf7fe;
  }
  th{
    text-shadow: none;
  }
  th,td{
    width: 260px;
  }
  thead th,tbody th,tbody td {
    padding: .3em 5px;
    border-bottom: 1px solid #ccc;
  }
  thead th {
    &:first-child{
      background-color: #a463b0;
      width: 120px;
    }
  }
  tbody th {
    background-color: #a463b0;
    color: #fff;
    width: 120px;
  }
  thead th + th,
  tbody td {
    border-left: 1px solid #ccc;
  }
  tbody tr:last-child th,
  tbody tr:last-child td {
    border-bottom: none;
  }
  thead tr:first-child th:first-child {
    border-radius: 5px 0 0 0;
  }
  thead tr:first-child th:last-child {
    border-radius: 0 5px 0 0;
  }
  tbody tr:last-child th:first-child {
    border-radius: 0 0 0 5px;
  }
  tbody tr:last-child th:last-child {
    border-radius: 0 0 5px 0;
  }
}
.point-chemdry{
  &.bb{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  .title{
    display: inline-block;
    background-color: #fff;
    border: 2px solid #8b4099;
    color: #fff;
    font-weight: bold;
    text-shadow: none;
    padding: 1px;
    border-radius: 20px;
    margin: 0;
    margin-bottom: 5px;
    span{
      display: block;
      border-radius: 20px;
      width: 100%;
      height: 100%;
      background-color: #a463b0;
      padding: 2px 10px;
    }
    &.mos{
      border-color: #0971bb;
      span{
        background-color: #0971bb;
      }
    }
  }
  .text{
    margin: 0;
  }
}
@mixin gra($start: #f3f3f3, $stop: #ccc){
  background: $start;
  background: -webkit-linear-gradient(
    $start 0%,
    $stop 100%
    );
  background: linear-gradient(
    $start 0%,
    $stop 100%
    );
}
.btns-service{
  .img-btn{
    display: block;
    @include fontsize(12);
    font-weight: bold;
    color: $font-col;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff,-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff;
    background-color: #ddd;
    border: 1px solid #fff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    width: 50%;
    float: left;
    position: relative;
    &::before{
      position: absolute;
      left: 50%;
      bottom: 10px;
      margin-left: -6px;
      display: block;
      width: 12px;
      height: 12px;
      content:'\f13a';
      color: #fff;
      text-shadow: none;
      font-family: FontAwesome;
      @include fontsize(12);
    }
    &:active,&:hover,&:visited{
      color: $font-col;
    }
    &#btn01{
      @include gra(#def8fb,#b0eff6);
    }
    &#btn02{
      @include gra(#effbf4,#c0f1d1);
    }
    &#btn03{
      @include gra(#deeafb,#b0c5f6);
    }
    &#btn04{
      @include gra(#f4fbef,#caf1c0);
    }
    &#btn05{
      @include gra(#fcf2ea,#eda369);
    }
    &#btn06{
      @include gra(#d0dffb,#4568ae);
    }
    &#btn07{
      @include gra(#f0fbfe,#a6d2e1);
      padding-bottom: 11px;
      line-height: 1.2;
      @include fontsize(11);
      max-height: 44px;
      &::before{
        bottom: 1px;
      }
    }
    &#btn08{
      @include gra(#fefbf3,#ece6bf);
    }
    &#btn09{
      @include gra(#fbefee,#f2c2c2);
    }
  }
}
.row-service{
  display: table;
  width: 100%;
  .left,.right{
    display: table-cell;
    vertical-align: middle;
    .btn-min{
      width: 100%;
      @include fontsize(12);
      border-radius: 10px;
    }
  }
  .left{
    width: 100px;
  }
  .right{
    padding-left: 1em;
  }
}
.box-service{
  padding-bottom: 0;
}
.list-checked{
  padding: 0;
  margin: 0;
  list-style: none;
  li{
    margin-bottom: 10px;
    line-height: 1.2;
    position: relative;
    padding-left: 1.5em;
    &::before{
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 20px;
      height: 20px;
      content:'\f046';
      color: $col-pink;
      font-family: FontAwesome;
    }
  }
}
.btn-service{
  background-color: #e59a30;
  color: #fff;
  margin: 0;
  @include fontsize(14);
  font-weight: bold;
  text-align: center;
  margin-left: -1em;
  margin-right: -1em;
  text-shadow: none;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  &:hover{
    background-color: #f6cc90;
  }
}
.details-service{
  padding-top: 20px;
  padding-bottom: 20px;
  .harf{
    padding-right: 20px;
  }
  p{
    margin: 0;
  }
  h3{
    @include fontsize(15);
    margin: 0;
    font-weight: bold;
    border-left: 5px solid $col-pink;
    padding-left: 10px;
  }
}
.table-simple{
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  line-height: 1.4;
  @include fontsize(10);
  .text-center{
    text-align: center;
  }
  th,td{
    padding: 5px;
    vertical-align: middle;
    border-right: 1px solid #ddd;
  }
  tr{
    border-bottom: 1px solid #ddd;
  }
  th{
    white-space: nowrap;
    width: 100px;
    background-color: #f6f6f6;
    text-align: left;
    &.wrap{
      white-space: normal;
    }
  }
  td{
    &.blank{
      background-color: #ddd;
    }
    a{
      color: $font-col;
      text-decoration: underline;
      &:hover{
        color: #999;
        text-decoration: none;
      }
    }
  }
  &.pink{
    th{
      background-color: #ffedf3;
    }
  }
  thead{
    .green{
      background-color: #c2f1d3;

    }
    .orange{
      background-color: #f8dbc5;
    }
    .red{
      background-color: #f2c4c4;
    }
    .blue{
      background-color: #b5caf7;
    }
  }
  tbody{
    .green{
      background-color: #eefcf3;
    }
    .orange{
      background-color: #fdf3e4;
    }
    .red{
      background-color: #fdf3f3;
    }
    .blue{
      background-color: #f1f5ff;
    }
  }
  .text-12{
    font-weight: normal;
  }
  &.course{
    table-layout: fixed;
    th{
      white-space: normal;
    }
  }
  &.table-lg{
    @include fontsize(12);
    th,td{
      padding: 6px 10px;
    }
    th{
      width: 120px;
    }
  }
}
.box-details{
  border: 3px solid $col-pink;
  padding: 1em;
  text-align: center;
  margin: 0 auto;
  .contact{
    border: 2px dotted $col-pink;
    background-color: #f6f6f6;
    padding: 1em;
    border-radius: 5px;
  }
}
#list-service-panel{
  margin: 0;
  border-radius: 0;
  h3{
    a{
      @include fontsize(16);
    }
  }
  li{
    a{
      border-color: #fff;
      @include fontsize(13);
      padding-top: 1em;
      padding-bottom: 1em;
      white-space: normal;
      background-color: #ffdbe7;
      color: $col-brown;
      text-shadow: none;
    }
  }
}
.box-cases{
  padding: 0;
  padding-bottom: 20px;
  .header-cases{
    background-color: #fef8e7;
    padding: 1em;
    h1{
      @include fontsize(20);
      font-weight: bold;
      line-height: 1.5;
    }
  }
  .content-cases{
    padding: 1em;
    p{
      margin-bottom: 1em;
    }
  }
  .list-cases{
    padding-top: 1em;
    margin-top: 1em;
    border-top: 1px solid #ddd;
    h3{
      margin-left: -.8em;
      border-left: 5px solid #ccc;
      padding-left: 1em;
      @include fontsize(16);
      font-weight: bold;
      margin-bottom: 10px;
    }
    img{
      max-width: 100%;
      height: auto;
    }
  }
}
.paging {
  display: inline-block;
  padding-left: 0;
  margin: 0;
  margin-top: 30px;
  &>span {
    display: inline-block;
    border-radius: 3px;
    overflow: hidden;
    margin: 2px;
    width: 40px;
    height: 40px;
    background-color: #ddd;
    color: #fff;
    text-decoration: none;
    background-color: #ddd;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
    a {
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
      text-decoration: none;
      text-shadow: none;
      &:visited{
        color: #fff;
      }
    }
    a:hover {
      background-color: $col-pink;
    }
    &.current {
      cursor: default;
      background-color: $col-pink;
      text-shadow: none;
    }
  }
}

.block-gallery-main {
  p{
    margin: 0;
  }
  .img-gallery-main {
    margin-bottom: 0;
    .img-main{
      display: block;
      width: 100%;
      height: 0;
      padding-top: 66%;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .text-gallery-main {
    padding: .5em;
    background-color: #fff;
  }
}
.thumbs-gallery {
  ul {
    padding-left: 0;
    list-style: none;
    li {
      display: block;
      padding-left: 10px;
      padding-right: 0px;
      cursor: pointer;
      float: left;
      width: 25%;
      padding: 2px;
      p {
        margin: 0;
        margin-bottom: 0;
        position: relative;
        width: 100%;
        span{
          margin: 0;
          border: 2px solid #ddd;
        }
      }
      &.active {
        p {
          span {
            border: 2px solid $col-pink;
          }
        }
      }
    }
  }
}
.img-thumbs {
  display: block;
  width: 100%;
  height: 0;
  padding-top: 66%;
  background-position: center center;
  background-size: cover;
  margin-bottom: 10px;
}
.minsection-entry{
  h3{
    margin-left: -.8em;
    @include fontsize(15);
    font-weight: bold;
    color: $col-brown;
    background-color: #fef8e7;
    display: inline-block;
    padding: 5px 20px;
    padding-left: 1em;
    margin-bottom: 10px;
    border-radius: 0 20px 20px 0;
  }
  p{
    margin-top: 0;
  }
}
.text-main{
  background-color: #f3f3f3;
  padding: 10px;
}
.box-entry{
  padding-top: 1em;
  header{
    h1{
      @include fontsize(20);
      font-weight: bold;
      border-bottom: 3px solid #f3f3f3;
      margin-bottom: 10px;
    }
  }
}
.gmap{
  @include gmap-responsive();
}
.box-tel{
  margin: 0 auto;
  padding: 5px 0 10px;
  .nums{
    vertical-align: middle;
    margin-left: 20px;
    display: inline-block;
    width: 100%;
  }
  .title-num{
    display: inline-block;
    background-color: $col-pink;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    text-shadow: none;
  }
  .text-num{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    text-align: left;
    line-height: 1.5;
    text-shadow: none;
    a{
      text-decoration: none;
    }
  }
}

#mail-form{
  .ui-input-text input, .ui-input-search input{
    background: #fff;
  }
  .wrapper-input{
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #daf6e8;
    padding: 5px;
    text-shadow: none;
  }
  input, optgroup, select, textarea{
    @include fontsize(10);
    border-bottom-style: none;
    text-shadow: none;
  }
  .inlineinput div {
    display: inline-block;
  }
  .ui-field-contain{
    label{
      border-radius: 3px;
      padding-left: 3em;
      @include fontsize(12);
    }
  }
  .ui-checkbox{
    margin: 0;
  }
  .label-checkbox{
    margin: 0;
    input{
      margin-bottom: 0;
    }
  }
}
.text-red{
  color: red;
}
.req-mark {
  display: inline-block;
  padding: 2px 5px;
  line-height: 1;
  border-radius: 3px;
  color: #fff;
  @include fontsize(10);
  background-color: #de1e4c;
  font-weight: normal;
  text-shadow: none;
}
.privacy-text {
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px;
  p,
  h5 {
    margin: 0;
    margin-bottom: 5px;
  }
  ul,ol{
    padding-top: 0;
    margin-top: 0;
  }
  .text-bold{
    border-bottom: 1px solid #ccc;
  }
}
.formError .formErrorContent{
  text-shadow: none;
}




























